*, ::after, ::before {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

img {
    width: 320px;
    border-radius: 8px;
}

.container {
    width: 60%;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
    margin: 0 0 25px;
    position: relative;
    padding: 0 0 5px;
}

.container h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #f50;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 15px;
}

.content .tabs {
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
}

.content .tabs .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 15px;
}

.content .tabs .links li {
    cursor: pointer;
    padding: 5px 8px;
    transition: .3s;
}

.content .tabs .links li.active {
    background-color: #fff;
}

.content .tabs .links li:active {
   border: 1px solid blueviolet;
}

.content .tabs .links li:hover {
    background-color: #fff;
}

.tabs .nav_content {
    background-color: #fff;
    padding: 10px;
}

.tabs .nav_content .box {
    display: none;
}

.tabs .nav_content .box.active {
    display: block;
}

.tabs .nav_content h4 {
    margin: 15px 0;
}

.tabs .nav_content p {
    font-size: 14px;
    color: #777
}
